.header {
    height: 140px;
    background-color: #003368;
    display: flex;
    justify-content: space-between;
  
    @media (max-width: 575px) {
      // Kích thước màn hình dưới 576px (thích hợp cho điện thoại 5.8 inch)
      height: 70px;
    }
  
    @media (min-width: 576px) and (max-width: 767px) {
      // Kích thước màn hình từ 576px đến 767px (thích hợp cho điện thoại 6.0 - 6.4 inch)
      height: 80px;
    }
  
    @media (min-width: 768px) and (max-width: 991px) {
      // Kích thước màn hình từ 768px đến 991px (thích hợp cho điện thoại 6.5 inch)
      height: 85px;
    }
  
    @media (min-width: 992px) and (max-width: 1199px) {
      // Kích thước màn hình từ 992px đến 1199px (thích hợp cho điện thoại 6.6 - 6.7 inch)
      height: 90px;
    }
  
    @media (min-width: 1200px) {
      // Kích thước màn hình từ 1200px trở lên (thích hợp cho điện thoại 6.8 inch trở lên)
      height: 95px;
    }
  }

  .logo{
    width: 50%;
  }
  .menu{
    width: 50%;
  }
  .menu_bar {
    width: 100%;
    height: 100%;
    ul {
        width: 100%;
        height: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    li {
    }

    a {
        text-decoration: none;
        color: white; // Thay đổi màu chữ thành trắng
        font-weight: 400; // Giảm độ đậm của phông chữ (độ mỏng)
        font-size: 1.6rem;
    }

    // Responsive styling
    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;

        a {
          text-decoration: none;
          color: white; // Thay đổi màu chữ thành trắng
          font-weight: 300; // Giảm độ đậm của phông chữ (độ mỏng)
          font-size: 1.2rem;
      }
    }
}